/*
    Created on : 22-ago-2016, 10:37:02
    Author     : Manuel Perez
*/
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#actionTarget {
    -fx-text-fill: FIREBRICK;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#tabButton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#tabButton:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.scroll-pane{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#coreInfoArea, #summaryLabel{
    -fx-font-family: "Inconsolata";
    -fx-font-size: 11px;
}
.check-box{
    -fx-border-color: lightblue;
    -fx-font-size: 12;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}